* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
.card {
    margin: 3rem auto;
    background-color: hsl(0, 0%, 100%);
    width: 260px;
}

h1 {
    font-size: 1rem;
}

p {
    font-size: 13px;
    font-size: 400;
    color: hsl(220, 15%, 55%);
}





/* layout */

.card_container {
    padding: 1rem;
    margin: 0 auto;
}

.card_text_container {
    padding: 1rem .7rem 1rem;
}

.qr_code {
    width: 100%;
}

h1 {
    padding-bottom: 1rem;
}


.card,
.qr_code {
    border-radius: 10px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: yellowgreen; }

/*
@media (max-width: 400px) {
    .card {
        width: 300px;
    }

    h1 {
        font-size: 18px;
    }
}

*/